/**************************
This file will contain all of my CSS code for the login and sign up pages
***************************/

/**************************
CSS for both pages
***************************/

#background {
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

input {
  margin-top: 5px;
  width: 300px;
}

/**************************
CSS code for the login page
***************************/

#loginMain {
  background-image: url('/static/img/trash.jpg');
  height: 650px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**************************
CSS code for the sign up page
***************************/

.signup_Heading {
  color: yellow;
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#signUpMain {
  background-image: url('/static/img/trash.jpg');
  height: 650px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup_button {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #784800;
  border-color: #784800;
  color:  #003078;
}

