/************************************** 
This file will contain all of the CSS for the why page 
***************************************/

/************************************** 
CSS code for entire page
***************************************/

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.change_text {
  text-transform: uppercase;
}

.main_whyPage_div {
  margin-left: 5%;
  margin-right: 5%;
}

/************************************** 
CSS code for section one
***************************************/ 

.section_one {
  margin-top: 50px;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
  "area_one area_one"
  "area_two area_three"
  "area_two area_three"
  "area_two area_three"
  "area_four area_four";
  border-bottom: 2px solid black;
}

.section_one_area_one {
  grid-area: area_one;
}

.section_one_area_two {
  grid-area: area_two;
}

.section_one_area_three {
  grid-area: area_three;
  background-image: url('/static/img/leaf_n_dirt.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.section_one_area_four {
  grid-area: area_four;
}

/************************************** 
CSS code for section two
***************************************/ 

.section_two {
  margin-top: 50px;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "sec_two_one sec_two_one sec_two_one"
  "sec_two_two sec_two_three sec_two_four";
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.section_two_area_one {
  grid-area: sec_two_one;
}

.section_two_area_two {
  grid-area: sec_two_two;
  background-image: url('/static/img/plant_ground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 400px;
}

.section_two_area_three {
  grid-area: sec_two_three;
  background-image: url('/static/img/food.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.section_two_area_four {
  grid-area: sec_two_four;
  background-image: url('/static/img/baby.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

/************************************** 
CSS code for section three
***************************************/ 

.section_three {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
/*  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;*/
  grid-template-areas: 
  "sec_three_one sec_three_two"
  "sec_three_three sec_three_three";
  border-bottom: 2px solid black;
}

.section_three_area_one {
  grid-area: sec_three_one;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_three_area_two {
  grid-area: sec_three_two;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_three_area_three {
  margin-top: 50px;
  grid-area: sec_three_three
  ;
}


/************************************** 
Media Queries area 
***************************************/ 
@media only all and (max-width: 768px) {

    .section_one {
      grid-gap: 0em;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
      "area_one area_one"
      "area_two area_two"
      "area_four area_four";
    }

    .section_two {
      display: none;
    }

    .section_three {
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: 
      "sec_three_one"
      "sec_three_two"
      "sec_three_three";
    }
}
