{% extends 'base.html' %}

{% block body %}

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Compost Finder</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>

<!-- The main section of the web page -->
<main>

  <!-- Start of header section -->
  <header>
    <div id='header_box'>
      <h1 class='center'>Compost Finder</h1>
      <hr>
      <h3 class='center'><a class='learn_more' href="#skip_to_area">Learn More</a></h3>
    </div>
  </header>
  <!-- End of header section -->

  <!-- This area will tell the user what the website is about -->
  <div id='about_area'>
    <h3 class='change_text center'>Connecting Gardeners with those that have compost</h3>

    <div id='sub_section_about_area'>

      <div id='skip_to_area' class='area_one'>
        <h4 class='center'>Basic Info</h4>
        <p>The goal of Compost Finder is to connect gardeners, who need trash for 
          their compost bins, with people who want to donate their trash. Essentially, one person's 
          trash is another person's gold</p>
        <h4 class='center'>How it works</h4>
        <p>Compost Finder connects gardeners and people who want to turn over their organic trash together. It
          uses geolocation to only alert you to people in your immediate area who want to be part of the program</p>
      </div> 

      <div class='area_two'>
        <img class='home_images' src="../static/img/ground.jpg">
      </div>

    </div>

  </div>
  <!-- End of Area -->

  <hr>

  <!-- This area will tell the user facs about compost -->
  <div id='about_area'>
    <h3 class='change_text center'>Facts about compost</h3>

    <div id='sub_section_about_area'>

      <div class='area_two'>
        <img class='home_image_two' src="../static/img/young_plants.jpg">
      </div>

      <div id='skip_to_area' class='area_one'>
        <h4 class='center'>Compost Information</h4>
        <p>Compost is using organic materials, that over a period of a few months, has turned into 
          soil. Leaves, unused salad materials such as spinach, lettuce, etc, paper, cardboard are all 
          good examples of compost material. Compost is how nature does it and you should to!</p>
        <h4 class='center'>Why Compost</h4>
        <p>Compost is one of the best known ways to replenish your soil. Plants love it and you are not using chemicals to grow your plants! Also, if people were to compost more, it would help to cut down the 
        amount of trash in land fills.</p>
      </div> 

    </div>

  </div>
  <!-- End of Area -->

</main>
<!-- End of the main section of the web page -->

<hr>

{% endblock %}