{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/why.css') }}">

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Compost Finder</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/landing">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/why">Why Compost</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class='main_whyPage_div'>

  <section class='section_one'>

    <div class='section_one_area_one'>
      <h4 class='center'>Earth knows no desolation. She smells regeneration in the moist breath of decay.</h4>
      <p class='center'>-George Meredith</p>
    </div>

    <div class='section_one_area_two'>
      <h5 class='center'>Why Compost</h5>
      <p>Composting is natures natural fertilizer. One is not using chemicals nor pesticides in trying to grow food.
        Instead, you use your own waste, or your neighbors, and let it break down over time! But here are some 
        other reasons as to why you should compost: 
      </p>
      <ul>
        <li>Less Waste in landfills</li>
        <li>Less Methane gas will be emitted because less waste in landfills</li>
        <li>Soil with compost is more nutritious and holds water better</li>
        <li>Soil with compost has more microbes, which makes for healthier soil and protects plants from disease</li>
        <li>Soil with compost needs less watering, fertilizer, and pesticides</li>
        <li>Soil with compost reduces erosion, decreasing the potential for landslides</li>
      </ul>
    </div>

    <!-- There will be a background image in this div -->
    <div class='section_one_area_three'>
    </div>
    <!-- End of background image area -->

    <div class='section_one_area_four'>
      <h5 class='center'>My Journey with Composting</h5>
      <p>If my memory serves me right, I first learned about composting when I was in third grade. I remember 
        being fascinated with how trash could be broken down and used in the garden. From the dead came life! 
        Yet, I never actually composted. It was something I always kind of wanted my family to do but we had no
        garden. Or, at least, everyone was to lazy to start a garden since we did have the land...In college, a 
        lot of my friends made fun of the hippies on campus who would compost. Yet, I was still intrigued by it 
        and had a huge urge to do it. Finally, when my wife and I bought our first home, I decided to finally
        make a compost area. I've had my compost area for about three years now. It's loaded with worms and love 
        using it my garden. From death comes life!!!
      </p>
    </div>

  </section>

  <section class='section_two'>

    <div class='section_two_area_one'>
      <h4 class='center'>The ground's generosity takes in our compost and grows beauty! Try to be more like the ground.</h4>
      <p class='center'>-Rumi</p>
    </div>

    <!-- There will be a background image in this div -->
    <div class='section_two_area_two'>
    </div>
    <!-- End of background image area -->

    <!-- There will be a background image in this div -->
    <div class='section_two_area_three'>
    </div>
    <!-- End of background image area -->

    <!-- There will be a background image in this div -->
    <div class='section_two_area_four'>
    </div>
    <!-- End of background image area -->

  </section>

  <section class='section_three'>

    <div class='section_three_area_one'>
      <h5>What can be composted</h5>
      <ul>
        <li>Fruit and Vegetable Scraps</li>
        <li>Egg Shells (Crushed)</li>
        <li>Coffee Grounds</li>
        <li>Coffee Filters</li>
        <li>Tea Bags</li>
        <li>Loose Leaf Tea</li>
        <li>Used Napkins and paper towels</li>
        <li>Cooked Pasta / Rice</li>
        <li>Cardboard boxes</li>
        <li>Pencil Shavings</li>
      </ul>
    </div>

    <div class='section_three_area_two'>
      <h5>What not to compost</h5>
      <ul>
        <li>Dog and Cat Poop</li>
        <li>Tea and coffee bags</li>
        <li>Citrus Peels and Onions</li>
        <li>Fish and Meat Scraps</li>
        <li>Glossy or coated paper</li>
        <li>Stickers from fruits and vegatables</li>
        <li>Coal Ash</li>
        <li>Sawdust from treated wood</li>
        <li>Large Branches</li>
        <li>Synthetic Fertilizers</li>
      </ul>
    </div>

    <div class='section_three_area_three'>
      <h4 class='center'>I consider failures to be the compost that feeds the better and best that is on its way.</h4>
      <p class='center'>-Tim Johnson</p>
    </div>

  </section>

</div>

{% endblock %}
